
/* google font roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

.light {
    background-color: white;
}
.dark {
    background-color: #101828 ;
}
/* dark theme  */
@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: "Roboto", sans-serif;
}